.icon-btn{
  display:inline-block;
  width:22px;
  height:22px;
  vertical-align:middle;
  margin-right:6px;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:100%;
}
.icon-btn-loading{
  background-image:url("../../static/image/icon/icon-loading.png");
}
.icon-btn-smile{
  width:32px;
  height:32px;
  background-image:url("../../static/image/icon/icon-smile.png");
}