extends ../layout/header.pug
append head
    title 正在测试中
append content
    #apple
      div(v-for="item in items.region") {{item}}
      h1 {{stars}} 
      a(:href="") 进入详情页面
      my-loading(v-if="isShowLoading",:is-show-loading="isShowLoading",:data-type="0")

append foot
    script.
        window.name1="Hello world";
    script(src=ctx+"/js/bundle.js") 
    