extends ../layout/header.pug
append head
    title 正在测试中
append content
    #apple
      div(v-for="item in items.region") {{item}}
      h1 {{stars}} 
      a() 进入详情页面
      my-loading(v-if="isShowLoading",:is-show-loading="isShowLoading",:data-type="0")
      date-picker(type="date",placeholder="选择日期",style="width: 200px")
      
append foot
    script(src=ctx+"/js/bundle.js") 
    